<!DOCTYPE html>
<html lang="<%= I18n.locale %>"
      data-controller="theme"
      data-theme-theme-value="<%= current_user_theme %>">
<%= render "shared/layout_head" %>

  <body class="min-h-screen flex flex-col bg-surface-raised text-text-heading">
    <%= render "shared/skip_link" %>
    <%= render "shared/email_verification_banner" %>

    <main id="main-content" tabindex="-1" class="flex-1">
      <%= yield %>
    </main>

    <%= render "shared/layout_tail" %>
  </body>
</html>
